@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans');


:root{
 --brightYellow:#E3B505;
 --darkBrown:#BB9457;
 --yellow:rgb(242, 180, 80); 
 --brown:#382923;
 --black:#191919;
 --grey:#A9B2AC;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 list-style: none;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-image: url('../img/bodyBcg.jpeg');
  background:linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85));
  color:var(--black);
}

.bell-fonts{
  font-family: 'La Belle Aurore',cursive;
}

.section-padding{
  padding: 3rem 0;
}

.grid-container{
  max-width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-row-gap:2rem;
}
@media screen and (min-width:768px){

  .grid-container--medium-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
  }
  .grid-container{
    max-width: 75vw;
  
  }
}

.section-title{
  padding: 1rem 0.5rem;
}
.section-title--left{
  margin-left: 10rem;
}

.section-title__name{
  font-size: 3rem;
  text-transform: capitalize;
}
.section-title__underline{
  background-color: var(--yellow);
  width: 5rem;
  height: 0.25rem;
}
.section-title__text{
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  color:grey;
}




/*FINAL DE LOS GLOBALES*/

/*PRELOADER*/
  .preloader{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background:var(--brightYellow);
    z-index: 10;
    display: grid;
    justify-content: center;
    align-items: center;
  }
/*FIN PRELOADER*/

/*HEADER*/  
.header{
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 768px){
  .header{
    background-image: url('/img/headerBcg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  

  }
}

.banner{
  text-align: center;
}
.banner__title{
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--brightYellow);
}

@media screen and (min-width:768px){
  .banner__title{
    font-size: 9rem;
  }
}

.banner__social-i{
  display: block;
  text-decoration: none;
  color: var(--black);
  border: 0.1rem solid var(--black);
  border-radius: 50%;
  padding: 0.25rem;
  transition: all 400ms;
}

.banner__social-i:hover{
  background-color: var(--brightYellow);
  color: var(--black);
}

.banner_icons{
  width: 50%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  /*grid-templae-columns:repeat(3,2rem)*/
  grid-column-gap:0.5rem;
  justify-content: center;
}

/*FINAL banner*/

/*VIDEO*/
.video__container{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.video__item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*FINAL VIDEO*/

/* inicio nav btn*/
  .navBtn{
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    color: var(--brightYellow);
    cursor: pointer;
    
  }
  .navBtn:hover{
    animation-name:pulse; 
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

/*animación de la navegación*/
@keyframes pulse{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
/* fin nav btn*/

/*navergación*/
.nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10rem;
  background-color:rgba(242,180,80,0.8) ;
  z-index: 3;
  width: 0;
  overflow: hidden;
  transition: all 500ms;
  
}



.navMove{
 width: 10rem;
 
}





.nav__single-link{
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--brown);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  transition:all 400ms;
}


.nav__single-link:hover{
  background-color: var(--brown);
  color: var(--yellow);
  padding-left:1.5rem ;
}

.nav__logo:hover{
  background-color: var(--grey);
}

/*fin navergación*/

/*estilos del switch*/
.video__switch-container{
  display: none;
}
@media screen and (min-width: 768px){
  .video__switch-container{
    display: block;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }

  .video__switch{
    position: relative;
    width: 5rem;
    background-color: var(--yellow);
    text-transform: uppercase;
    display: flex;
    padding: 0.25rem;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  .video__switch-btn{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 50%; 
    background-color: var(--brown);
    border-radius: 0.5rem;  
    transition: all 300ms;  
  }

  .video__switch-move{

    left: 50%;
    
  }
}

/*fin estilos del switch*/


/*about*/

.about-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-gap: 4rem;
  
}

.about__img-item{
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 0.25rem;
}

@media screen and (min-width:768px){
 
  .about__img-special{
     order: -1;
    }
    .about-container{
      grid-template-rows: 1fr 1fr;
    }
   
}

/*bebidas*/

.drink{
  background-color: var(--brown);
  color:var(--brightYellow);
  text-transform: capitalize;
}

.drink-form,.drink-card{
  text-align: center;
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  grid-row-gap: 1rem;
}
.drink-form__feedback{
  border: 0.1rem solid var(--brightYellow);
  padding: 0.25rem;
  display: none;
}

.error{
  display: block;
  color: red;
  border-color: red;
}
.success{
  display: block;
  color: green;
  border-color: green;
}
.drink-form__title,.drink-card__title{
  font-size: 3rem;
}

.input-name,.input-lastname,.input-email{
  width: 100%;
}

.input-name,.input-lastname,.input-email,.input-submit{
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: rgba(111,87,77,0.6);
  color: var(--darkBrown);
  border:none;
  outline: none;
}
.input-name::placeholder,.input-lastname::placeholder,.input-email::placeholder{
  color: var(--darkBrown);
  text-transform: capitalize;
}

.input-submit{
  background-color: var(--yellow);
  color:var(--black);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms;
}
.input-submit:hover{
  opacity: 0.6;
}

.drink-card__list{
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 2rem;
}

.person{
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  text-align: left;
  grid-gap: 1rem;
  border: 0.1rem solid rgba(111,87,77,0.6);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.person_thumbnail{
  border-radius: 50%;
}

@media screen and (min-width:768px){
  .drink-card__list{
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

}

.work-container{
  max-width: 90vw;
  margin: 2rem auto;
}
.work-item__img{
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 500ms;
  
}

.work-item{
  position: relative;
  background: linear-gradient(var(--yellow),var(--yellow));
  overflow: hidden;
  
}
.work-item:hover .work-item__img{
  opacity: 0.5;
  transform: scale(1.5);
}
.work-item:hover .work-item__icon{
  opacity: 1;
  transform: scale(1.3) translate(-50%,-50%);
}
.work-item__icon{
  position: absolute;
  top:50%;
  left:50%;
  color: var(--brightYellow);
  font-size: 4rem;
  display: inline-block;
  text-decoration: none;
  opacity: 0;
  cursor: pointer;
  transform: scale(0);
  transition: all 300ms;
}
.work-item__icon:hover{
  color: var(--brown);
  cursor: pointer;
}

@media screen and (min-width: 576px){
  .work-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media screen and (min-width:992px){

  .work-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  }

  .work-item__img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .work-container{
    
    max-width: 70vw;
    max-height: 90vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
                         "primera primera segunda tercera"
                         "primera primera cuarta cuarta"
                         "quinta sexta septima septima"
                         "octava novena septima septima" ;
  }
  .item-1{
    grid-area: primera;
  }

  .item-2{
    grid-area: segunda;
  }
  .item-3{
    grid-area: tercera;
  }
  .item-4{
    grid-area: cuarta;
  }
  .item-5{
    grid-area: quinta;
  }
  .item-6{
    grid-area: sexta;
  }
  .item-7{
    grid-area: septima;
  }
  .item-8{
    grid-area: octava;
  }
  .item-9{
    grid-area: novena;
  }

}

/* modal*/

.work-modal{
  display: none;
}
.work-modal--show{
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.work-modal__item{
  background:url('../img/work-1.jpeg')center/cover;
  height: 70vh;
  width: 80vh;
  border: 0.5rem solid var(--brightYellow);
  border-radius: 0.4rem;
}
@media screen and (min-width:768px){
  .work-modal__item{
    height: 80vh;
    width: 60vw;
  }
}

.work-modal__close{
  position: fixed;
  font-size: 3rem;
  color: var(--brightYellow);
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 300ms;
}
.work-modal__close:hover{
  color: red;
}

/*Sección de contacto*/

.contact-container{
  max-width: 90vw;
  margin:0 auto;
  display: grid;
  grid-row-gap: 1rem;
}
.contact-info{
  display: grid;
  justify-content: center;

}

.contact-item{
  margin:1rem 0;
  padding: 0.5rem;
}
.contact-item__icon{
  font-size: 3rem;
  color: var(--yellow);
}
.contact-item__title{
  text-transform: uppercase;
  margin: 0.5rem 0;
  letter-spacing: 0.25rem;
  font-style: italic;
}
.contact-item__text{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--grey);
}
.contact-map{
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width:768px){

  .contact-info{
    grid-template-columns:repeat(3, 1fr) ;
    order: -1;
  }

}
@media screen and (min-width:992px){

  .contact-info{
    grid-template-columns:1fr ;
    order: 0;
  }
  .contact-container{
    display: grid;
    grid-template-columns:2fr 1fr ;
    grid-column-gap: 2rem;
 }
 .contact-map{
   align-self: center;
 }

}






